.scrabbleLoader {
  --animation-time: 0.37s;
  --tile-width: 60px;
  --space-between: 5px;

  --total-width: calc((var(--tile-width) * 8) + (var(--space-between) * 7));
  
  --y-offset-max: var(--tile-width);

  --y-offset-1: calc(var(--y-offset-max) * -0.8);
  --y-offset-2: calc(var(--y-offset-max) * 0.9);
  --y-offset-3: calc(var(--y-offset-max) * -0.6);
  --y-offset-4: calc(var(--y-offset-max) * 0.4);
  --y-offset-5: calc(var(--y-offset-max) * -0.4);
  --y-offset-6: calc(var(--y-offset-max) * 0.6);
  --y-offset-7: calc(var(--y-offset-max) * -0.9);
  --y-offset-8: calc(var(--y-offset-max) * 0.8);

  margin: var(--y-offset-max) 0;

  user-select: none;
}

.slLetter {
  width: calc(var(--tile-width));
  height: calc(var(--tile-width));
  
  font-family: Eurostile;
  font-size: calc(var(--tile-width) * 0.9);
  color: white;
  
  background-color: #a47449;
  
  margin: calc(var(--space-between) / 2);
  border-radius: 5px;
  
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
}

@keyframes letter1 {
  from {
    left: 0;
    top: 0;
  }
  50% {
    left: 0;
    top: 0;
  }
  to {
    left: calc((var(--total-width) / 2) - (var(--tile-width) / 2));
    top: var(--y-offset-1);
  }
}
@keyframes letter2 {
  from {
    left: 0;
    top: 0;
  }
  50% {
    left: 0;
    top: 0;
  }
  to {
    left: calc(((var(--total-width) / 2) * 0.75) - (var(--tile-width) / 2));
    top: var(--y-offset-2);
  }
}
@keyframes letter3 {
  from {
    left: 0;
    top: 0;
  }
  50% {
    left: 0;
    top: 0;
  }
  to {
    left: calc(((var(--total-width) / 2) * 0.5) - (var(--tile-width) / 2));
    top: var(--y-offset-3);
  }
}
@keyframes letter4 {
  from {
    left: 0;
    top: 0;
  }
  50% {
    left: 0;
    top: 0;
  }
  to {
    left: calc(((var(--total-width) / 2) * 0.25) - (var(--tile-width) / 2));
    top: var(--y-offset-4);
  }
}
@keyframes letter5 {
  from {
    left: 0;
    top: 0;
  }
  50% {
    left: 0;
    top: 0;
  }
  to {
    left: calc(((var(--total-width) / 2) * 0) - (var(--tile-width) / 2));
    top: var(--y-offset-5);
  }
}
@keyframes letter6 {
  from {
    left: 0;
    top: 0;
  }
  50% {
    left: 0;
    top: 0;
  }
  to {
    left: calc(((var(--total-width) / 2) * -0.25) - (var(--tile-width) / 2));
    top: var(--y-offset-6);
  }
}
@keyframes letter7 {
  from {
    left: 0;
    top: 0;
  }
  50% {
    left: 0;
    top: 0;
  }
  to {
    left: calc(((var(--total-width) / 2) * -0.5) - (var(--tile-width) / 2));
    top: var(--y-offset-7);
  }
}
@keyframes letter8 {
  from {
    left: 0;
    top: 0;
  }
  50% {
    left: 0;
    top: 0;
  }
  to {
    left: calc(((var(--total-width) / 2) * -0.75) - (var(--tile-width) / 2));
    top: var(--y-offset-8);
  }
}

#slLetter1 {
  animation: letter1 var(--animation-time) infinite linear alternate;
  z-index: 8;
}
#slLetter2 {
  animation: letter2 var(--animation-time) infinite linear alternate;
  z-index: 7;
}
#slLetter3 {
  animation: letter3 var(--animation-time) infinite linear alternate;
  z-index: 6;
}
#slLetter4 {
  animation: letter4 var(--animation-time) infinite linear alternate;
  z-index: 5;
}
#slLetter5 {
  animation: letter5 var(--animation-time) infinite linear alternate;
  z-index: 4;
}
#slLetter6 {
  animation: letter6 var(--animation-time) infinite linear alternate;
  z-index: 3;
}
#slLetter7 {
  animation: letter7 var(--animation-time) infinite linear alternate;
  z-index: 2;
}
#slLetter8 {
  animation: letter8 var(--animation-time) infinite linear alternate;
  z-index: 1;
}