:root {
	--tile-brown: #a47449;
	--tile-brown-transparent: #a47449cc;
	--tile-text: #f2f5ff;
}

.winnerIcon {
	font-size: 16px!important;
}

/* settings */
#settings {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
	gap: 20px;
}
.settingsSection {
	background-color: var(--background-2);
	border-radius: 10px;
	padding: 10px;

	display: flex;
	flex-direction: column;
	gap: 10px;
	justify-content: center;
}

/* account switcher */
.accountList {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 10px;
}
.accountList .account {
	width: 125px;
	height: 125px;
	background-color: var(--background-2);
	border-radius: 10px;
	padding: 10px;

	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: stretch;
}
.accountList .account .accountName {
	font-weight: bold;
}
.accountList .addSavedAccountButton {
	border: 0;
	margin: 0;
	width: 145px;
	height: 145px;
}
.accountList .addSavedAccountButton:hover {
	background-color: var(--background-3);
}

/* game controls */
#gameControlsCell .contentControls {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
#gameControlsCell .gameInfoBox {
	flex-grow: 4;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	gap: 10px;
	justify-content: center;
	align-items: center;

	overflow-y: hidden;
	overflow-x: hidden;
	overflow-x: visible;
}

.gameLanguageBox {
	padding: 5px;
	border-radius: 10px;
	background-color: var(--background-2);
}
#gameControlsCell .gameInfoBox .gameLanguageBox {
	background-color: var(--background-2);
}
#gamesCell .listGame .gameLanguageBox {
	background-color: var(--background-3);
}
#gamesCell[data-displaymode=card] .listGame .gameLanguageBox {
	margin-bottom: 5px;
}

#gameControlsCell .gameInfoBox .gameTitleBox {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 5px;
}
#gameControlsCell .gameInfoBox .gameTitleBox .gameTitleLine, #gameControlsCell .gameInfoBox .gameTitleBox .gameIdLine {
	display: flex;
	justify-content: center;
	align-items: center;
}
#gameControlsCell .gameInfoBox .gameTitleBox .gameIdLine {
	display: flex;
	justify-content: center;
	align-items: center;

	color: var(--text-color-light);
	font-size: small;
}

.moreGameControls > summary {
	list-style-type: none;
}
.moreGameControls > summary::-webkit-details-marker {
	display: none;
}
#makeMoveButton:has(~ div details[open]) {
	display: none;
}
#makeMoveButton ~ div:has(details[open]) {
	width: 100%;
	height: 100%;
}

html {
	overflow-x: hidden;
	overflow-y: hidden;
}
body.scrabble {
	height: 100vh;
	height: 100dvh;
	max-width: none;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	overflow-y: hidden;
}
#canvasCell {
	display: unset;
	justify-content: center;
	align-items: center;
	user-select: none;
	-webkit-user-select: none;
}

#canvasCell canvas {
	max-width: 100%;
	max-height: 100%;
}
#canvasCanvasPage {
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-rows: min-content minmax(0, 1fr);
	gap: 3px;
}
#canvasWrapper {
	width: 100%;
	height: 100%;
	grid-row: -2 / -1;
}
#gameBannerWrapper {
	position: relative;
	margin: auto;
}
#gameBanner {
	margin: 5px;
	padding: 10px;
	background: var(--text-highlight);
	border-radius: 7px;
}
#gameBanner.tempBanner {
	box-shadow: 0 0 7px var(--text-color-light);
}
@font-face { /* Scrabble Font - Eurostile */
	font-family: Eurostile;
	src: url(https://scrabble.colebot.com/fonts/eurostile.TTF);
}

#shuffleLoader {
	width: 100%;
	max-width: 600px;
	border-radius: 10px;
}

/* letter bank (for letter exchange) */
#letterExchangeBank {
    display: flex;
	flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    user-select: none;
}
.letter {
	margin: 0;
    width: 55px;
    height: 55px;
    font-family: 'Eurostile';
    background-color: var(--tile-brown-transparent); /* tile brown but transparent */
    color: var(--tile-text); /* tile text color */
	border: none;
    border-radius: 5px;
    cursor: pointer;

	position: relative;

	display: flex;
	justify-content: center;
	align-items: center;
}
.letter[aria-pressed=true] {
	background-color: var(--tile-brown); /* tile brown */
	scale: 1.05;
}
.letterLetter {
    font-size: 50px;
}
.letterPoints {
	position: absolute;
	bottom: 5px;
	right: 5px;
}

/* account forms */
.accountFormTitle h3, .titleLine h3 {
	margin: 0;
}
.accountFormTitle, .titleLine {
	margin: 5px 0 10px 0;
}

/* modals */
.modal {
	position: fixed;

	background-color: var(--background-2);
	box-shadow: 0 0 5px var(--text-color-light);
	border-radius: 10px;

	padding: 20px 10px 10px 10px;
}

/* create game modal */
#createGameModal {
	display: grid;
	grid-auto-flow: row;
	grid-template-rows: max-content 1fr max-content;
}
#createGameModal h2, #notificationManagerModal h2 {
	margin: 0 0 10px 0;
	height: max-content;
}
#createGameModal h3 {
	margin: 0;
	font-weight: normal;
}
#createGameModal .optionsHolder {
	grid-template-columns: 50% 50%;
}
.addPlayerPanelPage {
	display: none;
}
#addPlayerPanel[data-page=friends] #addPlayerPanel-friends {
	display: contents;
}
#addPlayerPanel[data-page=others] #addPlayerPanel-others {
	display: contents;
}
#createGameModal .createGameButtons {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: 50% 50%;

	height: max-content;
}
#createGameModal .languageSelector {
	border-top: 1px solid var(--selection-color);
	padding-top: 15px;
	margin: 10px 0;

	display: flex;
	justify-content: center;
	gap: 10px;
}

/* letter exchange modal */
#letterExchangeModal {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
}
#letterExchangeModal h2 {
	margin: 0;
}
#letterExchangeModal .letterExchangeButtons {
	display: flex;
	justify-content: stretch;
	align-items: center;
	width: 100%;
}
#letterExchangeModal .letterExchangeButtons button {
	flex-grow: 1;
}

/* text modal */
#textModal {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 10px;
}
#textModal #textModalTitle {
	margin: 0;
}
#textModal #textModalText {
	text-align: center;
	text-align: -webkit-center;
}
#textModal #textModalControls {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
}
#textModal #textModalButtonHolder {
	display: flex;
	justify-content: stretch;
	align-items: center;
}
#textModal #textModalButtonHolder button {
	flex-grow: 1;
}

/* email address warning */
#emailAddressWarning {
	color: var(--text-color-light);
	margin-bottom: 0.75rem;
	text-wrap: balance;
}

/* letter picker */
#chooseLetterModal {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
}
#chooseLetterModal h3 {
	margin: 0;
}
#letterPicker {
	width: 55px;
    height: 55px;

    font-size: 50px;
    font-family: 'Eurostile';
    text-align: center;
    text-transform: uppercase;

    background-color: var(--tile-brown);
    color: var(--tile-text); /* tile text color */

    border: none;
    outline: none;
    border-radius: 5px;
}

/* popups */
.popup {
	position: fixed;
	width: 300px;
	height: max-content;
	
	background-color: var(--background-2);
	box-shadow: 0 0 5px var(--text-color-light);
	padding: 10px;
	border-radius: 5px;
}

/* word lookup popup */
.lookupDivider {
	border: 0.5px solid var(--selection-color);
	margin: 0;
	width: calc(100% - 20px);
}
#wordLookupPopup {
	overflow-y: auto;
}
#wordLookupPopup .wordLookupResults {
	display: flex;
	flex-direction: column;
	gap: 15px;
	justify-content: flex-start;
	align-items: center;
	padding: 0 0 5px 0;
}
#wordLookupPopup::-webkit-scrollbar-track {
	background-color: var(--background-3);
}
#wordLookupPopup::-webkit-scrollbar-thumb {
	background-color: var(--semi-highlight);
}
#wordLookupPopup::-webkit-scrollbar-thumb:hover {
	background-color: var(--semi-highlight-hover);
}
#wordLookupPopup .wordLookupEntry {
	display: flex;
	flex-direction: column;
	gap: 5px;
	justify-content: center;
	align-items: center;
	margin: 5px 0;
}
#wordLookupPopup .wordLookupEntry .wordLookupWord {
	font-weight: bold;
}
#wordLookupPopup .wordLookupEntry .wordLookupDefinitions {
	display: flex;
	flex-direction: column;
	gap: 3px;
	justify-content: center;
	align-items: center;
}
@media (orientation: portrait) {
	.popup {
		width: calc(100% - 20px);
		top: 33%!important;
		left: 0!important;
	}
}

/* chat */
.chatTitleLine {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}
.chatTitle {
	display: inline-block;
	margin: 10px 0;
}
.chatContent {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-grow: 1;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
    overflow: auto;
    margin: 5px;
}
.chatMessage {
    text-align: start;
    width: 100%;
}
.chatMessageLine1 {
    display: flex;
    gap: 5px;
    justify-content: space-between;
}
.chatMessageSender {
    font-weight: bold;
}
.chatMessageTimestamp {
    color: var(--text-color-light);
    margin-right: 5px;
}
.systemChatMessageLine {
	/* text-align: center; */
	color: var(--text-color-light);
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.largeChatMessage {
	font-size: 3rem;
}
.chatInput {
	resize: none;
	max-height: 100%!important;
	overflow: auto;
}
.chatControls {
    display: flex;
    justify-content: center;
    align-items: flex-end;
	max-height: 67%!important;
}
#chatInput {
    flex-grow: 1;
	flex-shrink: 1;
}
.unreadMessageMarker {
	color: red;
	width: 100%;
	text-align: center;
	border-bottom: 1px solid red;
	line-height: 0.1em;
	margin: 10px 0 5px;
	transition: opacity 0.37s, margin 0.37s, height 0.37s, border-width 0.37s;
}
.unreadMessageMarker span {
	background-color: var(--background-1);
	padding: 0 5px;
	border-radius: 5px;
}
.chatUpdatePopup {
	position: absolute;
	/*bottom: 75px; <- popped-up value */
	width: 200px;
	height: 40px;
	background: var(--highlight);
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	color: var(--highlight-text);
	box-shadow: 0 5px 15px #00000030;
	left: calc(50% - 100px);
	transition: bottom 0.3s cubic-bezier(.3,.6,.3,1.3);
	bottom: -100px;
	cursor: pointer;
}

/* friends */
.friendsPage {
	display: none;
}
#friendsCell[data-page=friends] #friendsPage-friends {
	display: contents;
}
#friendsCell[data-page=addFriends] #friendsPage-addFriends {
	display: contents;
}

.friendList {
	margin: 5px;
	border: 1px solid var(--text-color);
	border-radius: 10px;

	overflow: auto;
}
#friendsCell .friendList {
	width: calc(100% - 20px);
}
.friendListItem {
	display: grid;
	padding: 10px;
}
.friendListPlaceholder {
	overflow: hidden;
	margin: 10px;
}
.friendListFriend {
	grid-template-columns: max-content minmax(0, 1fr) max-content;
}
.requestListFriend {
	grid-template-columns: minmax(0, 1fr) max-content;
}
.friendNameContainer {
	align-items: flex-start;
	margin-left: 5px;
	margin-right: 5px;
	text-align: start;
}
.friendRecord {
	align-items: flex-end;
	padding: 0 5px;
}
.friendListItem:not(:last-child) {
	border-bottom: 1px solid var(--text-color-light);
}
#addFriendField {
	width: calc(100% - 40px);
	text-align: center;
}

.friendsSubHeading {
	margin: 10px 0 -5px 0;
}

/* move history */
#historyContents {
	padding: 5px;
	gap: 20px 10px;
}
.moveHistoryMove {
	max-width: 200px;
	padding: 20px;
	background-color: var(--background-2);
	border-radius: 10px;
}
.moveHistoryMove.moveHistoryDraft {
	border: 4px dashed var(--selection-color);
	background-color: transparent;
}
.moveHistoryMove:nth-child(1 of :not(.moveHistoryDraft)) {
	border: 4px solid var(--text-highlight);
}
.moveHistoryMove:nth-child(2 of :not(.moveHistoryDraft)) {
	border: 3px solid var(--text-highlight);
}
.moveHistoryMove:nth-child(3 of :not(.moveHistoryDraft)) {
	border: 2px solid var(--text-highlight);
}
.moveHistoryMove:nth-child(4 of :not(.moveHistoryDraft)) {
	border: 1px solid var(--text-highlight);
}

/* flying saucer */
#flyingSaucer {
	width: 2rem;
	height: 2rem;
	font-size: 1.5rem;

	position: fixed;

	text-align: center;
	text-align: -webkit-center;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;

	background-color: var(--highlight);
	color: var(--highlight-text);
	border-radius: 10000px;

	box-shadow: 0 0 10px var(--selection-color);
}

/* animations */
.spin {
	animation-name: spin;
	animation-duration: 0.37s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
.expandAnimation {
	animation-name: expand;
	animation-timing-function: cubic-bezier(0, 0, 0, 1);
	animation-duration: 0.75s;
}
.fadeUpOut {
	animation-name: fadeupout;
	animation-duration: 3s;
	animation-timing-function: linear;
}
@keyframes expand {
	0% {
		transform: scale(1.0);
		opacity: 0.75;
	}
	100% {
		transform: scale(25.0);
		opacity: 0;
	}
}
@keyframes fadeupout {
	0% {
		scale: 0.1;
		opacity: 0;
		translate: 0 5px;
	}
	10% {
		scale: 1.5;
		opacity: 1;
		translate: 0 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		scale: 1.75;
		opacity: 0;
		translate: 0 -10px;
	}
}

/* defaults / all orientations */
#scrabbleGrid {
	width: 100vw;
	height: 100vh;
	height: 100dvh;
	box-sizing: border-box;

	padding: 10px;
	align-items: center;

	gap: 10px;
}
#scrabbleGrid .gridCell {
	padding: 10px;
	background-color: var(--background-1);
	border-radius: 10px;

	display: none;

	width: 100%;
	height: 100%;
	box-sizing: border-box;

	overflow: hidden;
}
#scrabbleGrid #chatCell {
	flex-direction: column;
	justify-content: stretch;

	overflow: auto;
}
#scrabbleGrid #gameControlsCell {
	justify-content: space-evenly;
	gap: 10px;
}
#scrabbleGrid #gameControlsCell .gameControlButtons {
	display: flex;
	justify-content: center;
	align-items: stretch;
}
#scrabbleGrid #welcomeCell {
	justify-content: center;
	align-items: center;

	height: auto;
}
#scrabbleGrid[data-signedin=loading] #welcomeTagline, #scrabbleGrid[data-signedin=loading] .hiddenWhileLoading {
	display: none;
}

#scrabbleGrid[data-signedin=false] #signInBackButton, #scrabbleGrid[data-signedin=loading] #signInBackButton {
	display: none;
}

/* desktop */
@media (orientation: landscape) {
	.desktopHidden {
		display: none!important;
	}

	/* all tabs */
	#scrabbleGrid #gameControlsCell {
		flex-direction: column;
		align-items: stretch;
	}

	/* game tab */
	#scrabbleGrid[data-tab=game] {
		grid-template-columns: minmax(min-content, 25%) minmax(0, 1fr);
		grid-template-rows: 50% minmax(0, 1fr);
	}
	#scrabbleGrid[data-tab=game] #chatCell {
		display: flex;
		grid-column: 1;
		grid-row: 2;
	}
	#scrabbleGrid[data-tab=game] #gameControlsCell {
		display: grid;
		grid-column: 1;
		grid-row: 1;

		grid-template-rows: minmax(0, 100px) minmax(0, 100%) minmax(0, 100px);
		grid-template-columns: 100%;
	}
	#scrabbleGrid[data-tab=game] #canvasCell {
		display: flex;
		grid-column: 2;
		grid-row: 1 / 3;
	}
	#scrabbleGrid #gameControlsCell #showChatButton {
		display: none;
	}
	#scrabbleGrid #gameControlsCell .contentControls {
		flex-direction: row;
	}
	#scrabbleGrid #chatBackButton {
		display: none;
	}
	#scrabbleGrid[data-tab=game] #chatCloseButton {
		display: none;
	}

	/* hide chat setting */
	#scrabbleGrid[data-hidechatbox=true][data-tab=game] #gameControlsCell {
		grid-column: 1;
		grid-row: 1 / 3;
	}
	#scrabbleGrid[data-hidechatbox=true][data-tab=game] #chatCell {
		display: none;
	}
	#scrabbleGrid[data-hidechatbox=true] #chatExpandButton, #chatCloseButton {
		display: none;
	}
	#scrabbleGrid[data-hidechatbox=true] #gameControlsCell #showChatButton, #scrabbleGrid[data-hidechatbox=true] #chatCell #chatBackButton {
		display: unset;
	}

	/* chat tab */
	#scrabbleGrid[data-tab=chat] {
		grid-template-columns: 100%;
		grid-template-rows: 100%;
	}
	#scrabbleGrid[data-tab=chat] #chatCell {
		display: flex;
		grid-column: 1;
		grid-row: 1;
	}
	#scrabbleGrid[data-tab=chat] #chatExpandButton {
		display: none;
	}
	#scrabbleGrid[data-tab=chat] #chatCloseButton {
		display: unset;
	}

	/* signed in account tab */
	#scrabbleGrid[data-tab=home][data-signedin=true], #scrabbleGrid[data-tab=friends][data-signedin=true] {
		grid-template-columns: minmax(max-content, min(400px, 40vw)) minmax(0, 1fr);
		grid-template-rows: minmax(min-content, max-content) minmax(0, 1fr);
	}
	#scrabbleGrid[data-tab=home][data-signedin=true] #signInCell, #scrabbleGrid[data-tab=friends][data-signedin=true] #signInCell {
		display: unset;
		grid-column: 1;
		grid-row: 1;
	}
	#scrabbleGrid[data-tab=home][data-signedin=true] #friendsCell, #scrabbleGrid[data-tab=friends][data-signedin=true] #friendsCell {
		display: flex;
		grid-column: 1;
		grid-row: 2;

		overflow: auto;
		justify-content: flex-start;
	}
	#scrabbleGrid[data-tab=home][data-signedin=true] #gamesCell, #scrabbleGrid[data-tab=friends][data-signedin=true] #gamesCell {
		display: unset;
		grid-column: 2;
		grid-row: 1 / 3;
	}

	/* signed out */
	#scrabbleGrid[data-tab=home][data-signedin=false] {
		grid-template-columns: minmax(0, 1fr) max-content minmax(0, 1fr);
		grid-template-rows: max-content max-content;
	}
	#scrabbleGrid[data-tab=home][data-signedin=false] #welcomeCell {
		display: unset;
		grid-column: 1 / 4;
		grid-row: 1;
	}
	#scrabbleGrid[data-tab=home][data-signedin=false] #signInCell {
		display: unset;
		grid-column: 2;
		grid-row: 2;
	}

	/* loading account tab */
	#scrabbleGrid[data-tab=home][data-signedin=loading] {
		grid-template-columns: 100%;
		grid-template-rows: 100%;
	}
	#scrabbleGrid[data-tab=home][data-signedin=loading] #welcomeCell {
		display: flex;
		grid-row: 1;
		grid-column: 1;
	}
}

/* short landscape */
@media (orientation: landscape) and (max-height: 700px) {
	/* game tab */
	#scrabbleGrid[data-tab=game] #gameControlsCell {
		grid-column: 1;
		grid-row: 1 / 3;
	}
	#scrabbleGrid[data-tab=game] #chatCell {
		display: none;
	}
	#chatExpandButton, #chatCloseButton {
		display: none!important;
	}
	#scrabbleGrid #gameControlsCell #showChatButton, #scrabbleGrid #chatCell #chatBackButton {
		display: unset;
	}

	#gameBanner {
		margin: 0;
		padding: 5px 10px;
	}

	h1, h2, h3, h4, h5, h6 {
		margin: 5px 0;
	}

	#signOutForm {
		margin: -5px;
	}

	#addMoreToGameLink {
		display: none;
	}

	/* games list header */
	.headerTitleHolder {
		margin: 0 5px!important;
	}
}

/* mobile */
@media (orientation: portrait) {
	/* general */
	.mobileRow {
		flex-direction: row;
	}
	.mobileCol {
		flex-direction: column;
	}

	.mobileHidden {
		display: none!important;
	}

	/* all tabs */
	#scrabbleGrid #gameControlsCell {
		flex-direction: row;
		align-items: center;
	}
	#scrabbleGrid #gameControlsCell .gameControlButtons {
		flex-grow: 1;
		flex-direction: column;
		height: 100%;
	}
	#chatCloseButton, #chatExpandButton {
		display: none;
	}

	/* game tab */
	#scrabbleGrid[data-tab=game] {
		grid-template-columns: 100%;
		grid-template-rows: 1fr min-content min-content;
	}
	#scrabbleGrid[data-tab=game] #gameControlsCell {
		display: grid;
		grid-column: 1;
		grid-row: 3;
		
		grid-template-columns: 20% minmax(0, 1fr) 20%;
	}
	#scrabbleGrid[data-tab=game] #canvasCell {
		display: flex;
		grid-column: 1;
		grid-row: 1 / 3;
	}

	/* chat tab */
	#scrabbleGrid[data-tab=chat] {
		grid-template-columns: 100%;
		grid-template-rows: 100%;
	}
	#scrabbleGrid[data-tab=chat] #chatCell {
		display: flex;
		grid-column: 1;
		grid-row: 1;
	}

	/* signed in account tab */
	#scrabbleGrid[data-tab=home][data-signedin=true] {
		grid-template-columns: 100%;
		grid-template-rows: minmax(0, auto) max-content;
	}
	#scrabbleGrid[data-tab=home][data-signedin=true] #signInCell {
		display: unset;
		grid-column: 1;
		grid-row: 2;
	}
	#scrabbleGrid[data-tab=home][data-signedin=true] #gamesCell {
		display: unset;
		grid-column: 1;
		grid-row: 1;
	}

	/* friends tab */
	#scrabbleGrid[data-tab=friends][data-signedin=true] #friendsCell {
		display: flex;
		grid-column: 1;
		grid-row: 1;

		overflow: auto;
		justify-content: flex-start;
	}

	/* signed out */
	#scrabbleGrid[data-tab=home][data-signedin=false] {
		grid-template-columns: 100%;
		grid-template-rows: max-content max-content;
	}
	#scrabbleGrid[data-tab=home][data-signedin=false] #welcomeCell {
		display: unset;
		grid-column: 1;
		grid-row: 1;
	}
	#scrabbleGrid[data-tab=home][data-signedin=false] #signInCell {
		display: unset;
		grid-column: 1;
		grid-row: 2;
	}

	/* loading account tab */
	#scrabbleGrid[data-tab=home][data-signedin=loading] #welcomeCell {
		display: flex;
		grid-row: 1 / 3;
		grid-column: 1;
	}
}