#toastStack {
	position: fixed;
	left: 0;
	top: 0;

	display: flex;
	flex-direction: column;
	gap: 10px;

    margin: 5px;
}
.toast {
	position: fixed;
	width: 300px;
    padding: 10px;

	border: 4px solid var(--highlight);
	background-color: var(--background-2);
	color: var(--text-highlight-text);
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;

    transition: opacity 1s;

    font-size: 1.1rem;
}
.toastTitle {
    font-size: 1.2rem;
}